@font-face {
  font-family: 'Monadi';
  src: url('https://raw.githubusercontent.com/chafiyounes/mapper-youcant/main/fonts/monadi.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
